<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none">

<!--    <test name="IETestCases">-->
<!--        <parameter name="browser" value="ie"/>-->
<!--        <classes>-->
<!--            <class name ="RegistrationTests"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="FirefoxTestCases">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name ="HowWeWorkTests"/>
            <class name ="MediaTests"/>
            <class name ="TourToUkraineTests"/>
            <class name ="RegistrationTests"/>
        </classes>
    </test>

    <test name="ChromeTestCases">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="regression" />
                <include name="smoke" />
                <exclude name="integration" />
            </run>
        </groups>
        <classes>
            <class name ="BlogTests"/>
            <class name ="ContactUsTests"/>
            <class name ="GiftsTests"/>
            <class name ="HomeTests"/>
            <class name ="HowWeWorkTests"/>
            <class name ="MediaTests"/>
            <class name ="RegistrationTests"/>
            <class name ="RestorePasswordTests"/>
            <class name ="SearchTests">
                <methods>
                    <include name="test.*"/>
                    <exclude name=".*Screenshot.*" />
                </methods>
            </class>
            <class name ="SignInTests"/>
            <class name ="TourToUkraineTests"/>
        </classes>
    </test>

</suite>